

.hero {
  display: flex;
  flex-direction: column;


  align-items: center;
  justify-content: center;

  background-position: center;
  background-size: cover;

  padding-bottom: 3rem;
}

.container.grid-lg {
  max-width: 976px;
  text-align: left !important;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: .4rem;
  padding-left: .4rem;
}
article, aside, footer, header, nav, section {
  display: block;
}

.blog-header {
  line-height: 1.1 !important;
  margin-top: 0;
  margin-bottom: 0;
  color: #3a414e !important;
  text-align: center;
  font-size: 3rem !important;
}

.bricklayer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 5px;
  margin-right: 5px;
  align-items: flex-start;
}





a.active, a:active, a:focus, a:hover {
  text-decoration: underline;
  color: #126bd9;
}


.cards-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

/* Responsiveness */
@media (width >= 768px) {
  .hero{
    flex-direction: row;
  }

  .bricklayer{
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
  }

  // .cards-list{
  //   flex-direction: row;
  //   justify-content: space-around;
  //   gap: 1rem;
  // }

  // .card{
  //   flex-basis: 45%;
  // }



}
