<header class="header">
  <!-- Logo -->
  <a href="#" class="logo">
     <img ngSrc="../assets/avocado.svg" priority width="50" height="50">
  </a>
  <!-- Hamburger icon -->
  <input class="side-menu" type="checkbox" id="side-menu"/>
  <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
  <!-- Menu -->
  <nav class="nav">
      <ul class="menu">
        <li ><a [routerLink]="['/home']" routerLinkActive="active-link" >Home</a></li>
        <li ><a [routerLink]="['/reflections']" routerLinkActive="active-link">Reflections</a></li>
        <li ><a [routerLink]="['/tutorials']" routerLinkActive="active-link">Tutorials</a></li>
      </ul>
  </nav>
</header>

