<nav class="navbar">

  <img class="logo" ngSrc="../assets/avocado.svg" width="50" height="50" alt="freeCodeCamp logo">

  <ul class="nav-links">
    <li class="nav-item"><a [routerLink]="['/home']" routerLinkActive="active-link" >Home</a></li>
    <!-- <li class="nav-item"><a [routerLink]="['/articles']" routerLinkActive="router-link-active" >Articles</a></li> -->
    <li class="nav-item"><a  [routerLink]="['/tutorials']" routerLinkActive="active-link">Tutorials</a></li>
    <li class="nav-item"><a  [routerLink]="['/sandbox']" routerLinkActive="active-link">Sandbox</a></li>

  </ul>
</nav>
