



<div style="display: flex; justify-content: space-between;">
  <mat-form-field appearance="fill">
    <mat-label>Select an option</mat-label>
    <mat-select  [(value)]="selectedOptionId" name="RxJs" (selectionChange)="changedOption(selectedOptionId)">
      <mat-option *ngFor="let option of rxJsSelectOptions" [value]="option.id">{{option.desc}}</mat-option>
    </mat-select>

  </mat-form-field>
<!-- -->  <p>You selected: {{selectedOptionId}}</p>

</div>
<div style="width:auto; overflow: auto">
  <pre>{{data}}</pre>
</div>
