.main-section-container{
  margin-top: 1rem;
  margin-inline: 10rem;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: 2rem 0 2rem;
  max-width: 60rem;
}
