

.hero {
  display: flex;
  flex-direction: column;


  align-items: center;
  justify-content: center;

  background-position: center;
  background-size: cover;

  padding-bottom: 7rem;
}

.container.grid-lg {
  max-width: 976px;
  text-align: left !important;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: .4rem;
  padding-left: .4rem;
}
article, aside, footer, header, nav, section {
  display: block;
}

.kronis-blog-header {
  line-height: 1.1 !important;
  margin-top: 0;
  margin-bottom: 0;
  color: #3a414e !important;
  text-align: center;
  font-size: 3rem !important;
}

.bricklayer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 5px;
  margin-right: 5px;
  align-items: flex-start;
}



// .card {
//   display: flex;
//   flex-direction: column;
//   border: .05rem solid #e7e9ed;
//   border-radius: .1rem;
//   background: #fff;
//   margin-bottom: 25px;
//   border: 0;
//   box-shadow: 0 10px 45px -9px rgba(0,0,0,.1);

// }



a.active, a:active, a:focus, a:hover {
  text-decoration: underline;
  color: #126bd9;
}

// .card .card-image:first-child {
//   padding-top: 0;
// }

// .card .card-image:first-child img {
//   border-top-left-radius: .1rem;
//   border-top-right-radius: .1rem;
// }

// .card .card-body, .card .card-footer, .card .card-header {
//   padding: .8rem;
//   padding-bottom: 0;
// }

// .text-gray {
//   color: #acb3c2!important;
// }

// .card .card-body {
//   flex: 1 1 auto;
// }

// .card .card-body, .card .card-footer, .card .card-header {
//   padding: .8rem;
//   padding-bottom: 0;
// }

// .card .card-body:last-child, .card .card-footer:last-child, .card .card-header:last-child {
//   padding-bottom: .8rem;
// }

// .blog-listing .card-footer {
//   text-align: right;
// }

/* Responsiveness */
@media (min-width: 768px) {
  .hero{
    flex-direction: row;
  }

  .bricklayer{
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
  }

  // .card{
  //   flex-basis: 45%;
  // }



}
