<section  class="hero">
  <section class="container grid-lg" style="text-align: center">
      <h1 class="kronis-blog-header"> Articles </h1>
<div style="text-align: center; margin-top:10px;">
  (Feeds:
  <a href="https://{{baseUrl}}/tutorials.rss" target="_blank" type="application/rss+xml">RSS</a> |
  <a href="https://{{baseUrl}}/tutorials.atom" target="_blank" type="application/atom+xml">Atom</a> |
  <a href="https://{{baseUrl}}/tutorials.json" target="_blank" type="application/json">JSON</a> )
</div>
<p><br>
Little projects and tidbits of knowledge how to do something and my personal experience.</p>
  </section>
  <i id="to-start" class="pulse fa fa-angle-down"></i>
</section>

<div class="cards-list">
  <ng-container *ngFor="let article of publicArticles" >
    <app-articles-card [article]="article"></app-articles-card>
  </ng-container>
</div>

