<div class="card" *ngIf="article$ | async as article">
    <div class="card-image">
      <a [routerLink]="[article.fileName]">
        <img
          style="width: 100%; height: 30%"
          alt=""
          [src]="article.coverImgPath"
        />
      </a>
    </div>

    <div class="card-header">
      <div class="card-subtitle text-gray">
        <span class="blog-date">
          <time class="dt-published">
            <i class="fa fa-calendar"></i> {{ article.publishedDate }}
          </time>
        </span>
      </div>
    </div>

    <div class="card-body">
      <a [routerLink]="[article.fileName]">
        <h2>{{ article.title }}</h2>
      </a>
      <p>{{ article.intro }}</p>
    </div>

    <div class="card-footer"></div>
</div>
